*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.fundo{
    background: #bea374;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: start;
    border: 2.5px solid #000;
    
}
.meio{
    border: 3.8px solid #000;
    height: auto;
    width: 90vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 3%;
    padding-top: 2%;
}
.texto1{
    text-align: center;
    
}
.texto1 h1{
    font-size: 52px;

}
.texto1 h2{
    font-size: 38px;
    letter-spacing: 0.1em;

}
.texto1 h3{
    font-size: 52px;

}
.texto1 h4{
    font-size: 38px;

}
.linha_do_meio{
    margin: 10px 0px;
    border: 2px solid #000;
    width: 95%;
}
.texto2{
    text-align: center;
    display:flex;
    justify-items: center;
    align-items: flex-end;
}
.texto2 h2{
    font-size: 48px;
    margin: 0px 10px;

}
.texto3{
    
    display:flex;
    justify-content: center;
    align-items: center;
    text-justify: distribute;
    height: 100%;
    width: 95%;
}
.texto3 p{
    font-size: 24px;
}